.Follow__button {
  padding: 5px;
  background-color: transparent;
  border-color: var(--primary-color-dark);
  border-radius: 5px;
  color: var(--primary-color-dark);
}

.Follow__button:hover {
  background-color: var(--primary-color-dark);
  color: var(--text-color);
}