.Feed__div {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.Feed__pages {
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  width: 50%;
}

.Feed__page {
  display: inline-block;
  padding: 5px;
  border: 1px solid var(--primary-color-dark);
  background-color: var(--primary-color);
  margin: 5px;
  color: var(--text-color);
  border-radius: 3px;

}

.Feed__page:hover {
  background-color: var(--primary-color-dark);
  cursor: pointer;
}