.Feed__div{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.Feed__pages{
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  width: 50%;
}

.Feed__page{
  display: inline-block;
  padding: 5px;

}