.FeedItem__img {
  width: 50px;
  height: 50px;
  border: 2px solid var(--primary-color-dark);
  padding: 3px;
  border-radius: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.FeedItem__section {
  margin-left: 10%;
  margin-right: 10%;
}

.FeedItem__User {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  margin-left: 10px;
  flex-direction: row;
  flex: 1 0 auto;
}

.FeedItem__img-inline {
  display: flex;
}

.FeedItem__header {
  display: flex;
}

.FeedItem__fav {
  margin-right: 0;
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: auto;
}

.FeedItem__creation {
  margin-bottom: 0;
}

.FavItem__separator {
  border-color: var(--primary-color);
}