.TagItem__span{
  background: gray;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  color: white;
  font-size: small;
}

.TagItem__span:hover {
  background: rgb(100,100,100);
  cursor: pointer;
}